@import "tailwindcss";

/* Light Theme (default) */
@theme {
  --color-bg: #ffffff;
  --color-surface: #f9f9f9;
  --color-text: #111111;
  --color-text-secondary: #333333;

  --color-primary: #000000;
  --color-primary-hover: #222222;
  --color-secondary: #666666;

  --color-border: #e5e5e5;

  --color-success: #16a34a;
  --color-error: #dc2626;
  --color-info: #2563eb;
}

@custom-variant dark (&:where(.dark, .dark *));

/* Dark Theme */
.dark {
  --color-bg: #000000;
  --color-surface: #111111;
  --color-text: #ffffff;
  --color-text-secondary: #cccccc;

  --color-primary: #ffffff;
  --color-primary-hover: #dddddd;
  --color-secondary: #888888;

  --color-border: #333333;

  --color-success: #22c55e;
  --color-error: #ef4444;
  --color-info: #3b82f6;
}
